<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Equipo</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="ribbon">
    <h2 style="color:white; margin-right: auto;">Detalles del Equipo</h2>
    <button id="backButton">Regresar a la tabla</button> 
    <button id="regresarFormularioButton">Regresar al formulario</button> 
    <button id="logoutButton">Cerrar sesión</button>  
  </div>

  <table id="detallesTabla">
    <thead>
      <tr>
        <th>Serie</th>
        <th>Estado</th> 
        <th>Observaciones</th>
        <th>Reparado por</th>
        <th>Anotaciones</th>
        <th>Datos</th> 
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <script src="detalles.js"></script> 
</body>
</html>